/****** start blue theme ******/

/*  Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.dropdown-menu .divider,
.carousel-indicators .active,
.option-box .gear-check

{
	background-color:#ffa620;
}


.about h1 span,
.features .feat span.glyphicon,
.testimonials span,
.footer h3,
.footer .copyright span,
.container .navbar-brand:hover
{ 
	color:#ffa620;
}


.option-box .color-option,
.testimonials .carousel-indicators li.active
{
	border: 3px solid #ffa620;
} 

.dropdown-menu { border: 1px solid #ffa620; }
 
/****** end blue theme ******/