body
{
	font-family: 'droid arabic kufi';
	direction: rtl;
	padding-top: 75px;
}


/* Main Navbar */

.navbar
{ 
	line-height: 70px;
}


/*  Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
	background-color: #e91e1e;
}

/* start Navbar Link */

.navbar-nav > li > a
{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	font-weight: bold;
}
.navbar-toggle { margin-top: 18px; }
/* end Navbar Link */
/* start Brand Name */

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand
{
	font-size: 25px;
	font-weight: bold;
	line-height:40px;
	margin-left:0px;
}
.navbar-brand { padding: 10px; 5px; }
.container .navbar-brand:hover { color: #e91e1e;}
/* end Brand Name */

/* start Dropdown Menu */
.dropdown-menu 
{ 
	background-color: #222; 
	border: 1px solid #e91e1e; 
	min-width: 180px;
}
.navbar-right .dropdown-menu 
{
	left: auto;
	right: 0;
	text-align: right;
	font-size: 20px
}

.dropdown-menu > li > a 
{ 
	color: #FFF; 
	padding:18px; 20px;
	font-size: 18px;
	-webkit-transition: padding .5;
	-moz-transition: padding .5;
	-op-transition: padding .5;
	transition: padding .5s ease;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus 
{
	background-color:#e91e1e; 
	color: #FFF;
	padding-right: 30px;
}

.dropdown-menu .divider { background-color: #e91e1e; }
/* end Dropdown Menu */

/* start Carousel */

.carousel-inner > .item > img, .carousel-inner > .item > a > img
{
	height: 500px;
	width: 100%;
}

.carousel-caption
{
	bottom: 120px;
	background-color:rgba(34, 34, 34, 0.56);
	border: 1px dashed rgba(255, 255, 255, 0);
	border-radius: 120PX;
	padding-left: 20px;
	padding-right: 20px;
	color:#FFEB3B; 
	font-size: 22px; 
	margin: 0 0 -20px;
}
.carousel-caption h1{font-size: 47px; color: #FFF;}
.carousel-indicators { bottom: 0px; }

.carousel-indicators li 
{
	height: 15px;
	width: 15px;
	background-color: rgba(0, 0, 0, 0.18); 
}

.carousel-indicators .active
{
	height: 17px;
	width: 17px;
	background:#e91e1e;
}
/* end carousel*/

/* start section about */
.about
{
	padding-top: 40px;
	padding-bottom: 40px;
}

.about h1 { font-weight: bold; }
.about h1 span { color: #e91e1e;}

.about .lead
{
	color: #888;
	font-size: 25px;
	margin-top: 15px;
}
/* end section about */

/*start section features */
.features
{
	background-color: #EEE;
	padding-top: 50px;
	padding-bottom: 50px;
}
.features .feat { margin-bottom: 30px; }
.features h1 { margin-bottom: 30px; }
.features .feat p { line-height: 2em; }

.features .feat span.glyphicon 
{ 
	font-size: 22px;
	margin-bottom: 10px;
	color: #e91e1e;
}
/*end section features */

/* start testimonials section */

.testimonials
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.testimonials h1
{
	font-weight: bold;
	margin-bottom: 20px;
}

.testimonials .lead 
{
	line-height: 2em;
	margin-bottom: 10px;
}

.testimonials span 
{
	font-size: 18px;
	font-weight: bold;
	color: #e91e1e;
}


.testimonials .carousel-inner
{
	min-height: 160px;
}

.testimonials .carousel-indicators
{
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 20px;
}

.testimonials .carousel-indicators li
{
	text-indent: 0;
	width: 80px;
	height: 80px;
	opacity: .4;
	border: 2px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
	-webkit-transition: all .5;
	-moz-transition: all .5;
	-op-transition: all .5;
	transition: all .5s ease;

}
.testimonials .carousel-indicators li.active 
{
	opacity: 1;
	background: none;
	border: 2px solid #e91e1e;
	width: 80px;
	height: 80px;
}

.testimonials .carousel-indicators li img
{
	max-width: 100%
}

/* end testimonials section */


/* start section price table */


.price-table
{
	background: #EEE;
	padding-top: 20px;
	padding-bottom: 40px;
}

.price-table h1
{
	margin-bottom: 40px;
}


.price-table .price-box
{
	background: #FFF;
	padding: 10px;
	border: 1px solid #DDD;
	margin-bottom: 15px;
}

.price-table .price-box h2 { margin: 5px 0 15px; }

.price-table .price-box:hover p
{
	-webkit-transform: scale(1.1,1.1) rotate(360deg);
	-moz-transform: scale(1.1,1.1) rotate(360deg);
	-o-transform: scale(1.1,1.1) rotate(360deg);
	transform: scale(1.1,1.1) rotate(360deg);
	border: 2px solid #DFDFDF;
}

.price-table .price-box p
{
	font-size: 35px;
	font-weight: bold;
	color: #333;
	width: 100px;
	height: 100px;
	background: #F3F3F3;
	border-radius: 50%;
	line-height: 100px;
	border: 2px solid #FFF;
	-webkit-transition-duration:.7s;
	-moz-transition-duration:.7s;
	-o-transition-duration:.7s;
	transition-duration:.7s;
}

.price-table .price-box ul
{
	line-height: 250%;
	font-size: 18px;
}

.price-table .list-unstyled { padding-right: 0;}

.price-table .price-box a { margin-bottom: 5px; }
/* end section price table */

/* start section our team */

.our-team
{
	background: url('../images/court1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 600px;
}
.our-team .team
{
	background: rgba(2,2,2,.7);
	color: #FFF;
	min-height: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.our-team h1 { padding-bottom: 60px; color: #9d9d9d;}

.our-team .person { margin-bottom: 40px; }

.our-team .person i{ padding-left: 20px;}
/* end section our team */
/* start section subscribe */
.subscribe
{
	padding-top: 40px;
	padding-bottom: 70px;
	background: #EEE
}

.subscribe h1
{
	color: #888;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.subscribe p
{
	margin-bottom: 30px;
}

.subscribe .form-control 
{
	border-radius: 0;
	margin-right: 5px;
	width: 300px;
}

.subscribe button
{
	border-radius: 0;
}
/* start section subscribe */

/* start section statistics */
.statistics
{
	background: url('../images/court2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;
}

.statistics .stats
{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	margin-bottom: 30px;
}

.statistics .stats:hover
{
	color: #FFF;
}
.statistics .data
{
	background: rgba(2,2,2,.7);
	color: #9d9d9d;
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 70px;
}

.statistics h1 { margin-bottom:60px; }
.statistics p
{
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 0;
	 
}
.statistics span { font-size: 18px;}
/* end section statistics */
/* start section our skills */
.our-skills
{
	padding-top: 40px;
	padding-bottom: 70px;
}
.our-skills h1 { margin-bottom: 60px; }

.our-skills h2 { font-weight: bold; margin-top: 0; }

.our-skills .progress { height: 36px;}

.our-skills .progress-bar 
{ 
	line-height: 36px; 
	font-size: 15px;
	font-weight: bold;
} 
/* end section our skills */

/* start section contact us */
.contact-us
{
	background: url('../images/Contact-us2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;

}

.contact-us .fields
{
	background: rgba(2,2,2,.7);
	color: #FFF;
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.contact-us p { margin-bottom: 40px;}

.contact-us textarea { height: 108px;}

.contact-us input[type="text"],
.contact-us textarea 
{
	background: rgba(82,78,78,.6);
	color:#9d9d9d;
	border: none;
} 
/* end section contact us */

/* start section our clients */
.our-clients
{
	background: #EEE;
	padding-top: 20px;
	padding-bottom: 20px;
}
.our-clients img
{
	opacity: .4;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-transition:all .7s ease-in-out;
	-moz-transition:all .7s ease-in-out;
	-o-transition:all .7s ease-in-out;
	transition:all .7s ease-in-out;
}
.our-clients img:hover { opacity: 1; }
/* end section our clients */

/* start ultimate footer section */
.footer
{
	background: #111;
	color: #AAA;
	padding-top: 10px;
}
.footer a { color:#AAA:}

.footer a:hover { color:#FFF;}

.footer h3 
{
	color: #0895D1;
	letter-spacing: 1px;
	margin: 30px 0 20px;
}

.footer .three-columns 
{
	overflow: hidden;
	margin: 20px -40px 20px 0;
}
.footer .three-columns li
{
	width: 33.333%;
	float: right;
	padding: 15px 0;
}
.footer .social-list 
{
	overflow: hidden;
	margin: 20px -40px 10px 0;
}
.footer .social-list li 
{
	float: right;
	margin-left: 5px;
	opacity: .6;
	filter: alpha(opacity=70);
	-webkit-transition:all .7s ease-in-out;
	-moz-transition:all .7s ease-in-out;
	-o-transition:all .7s ease-in-out;
	transition:all .7s ease-in-out;
}
.footer .social-list li:hover { opacity: 1; }


.footer .img-thumbnail
{
	background: rgba(0,0,0,.2);
	border: 1px solid #444;
	margin-bottom: 5px;
}

.footer .copyright
{
	background: #333;
	color: #AAA;
	padding: 15px 0;
	margin-top: 30px;
	font-size: 18px;
}
.footer .copyright span
{
	color: #0895D1;
}
/* end ultimate footer section */